.btn{
    @include reset-btn;

    border-radius: var(--btn-border-radius);
    color: var(--accent-color);

    &:not(&--input){
        @include hover{
            cursor: pointer;
            scale: 1.1;
        }
    }

    &--input{
        @include square(var( --input-and-btn-height));
        padding: 10px;
        border: var(--border-accent);
        cursor: pointer;

        i{
            color: var(--light-color);
        }

        &:hover{
            opacity: .7;
        }
    }
}