.preview{
    @include flex-center;
    width: 100%;
    
    &-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        width: 100%;
    }

    &__item{
        @include flex-center;

        width: 100%;
        box-shadow: 0px 0px 6px 2px var(--light-color);
        height: 282px;
        border-radius: var(--card-border-radius);
    }
}