body{
    font-family: var(--font-main);
    font-weight: 600;

    font-size: 20px;

    color: var(--light-color);
    background: var(--bg-color);

    overflow: hidden;
}

* {
    transition-duration: var(--transition-duration);
}