body{
    font-family: var(--font-main);
    font-weight: 600;

    font-size: 20px;
    background: linear-gradient(148deg, rgba(25,25,25,1) 0%, rgba(78,58,110,1) 100%);

    color: var(--light-color);

    position: relative;
}

* {
    transition-duration: var(--transition-duration);
}

a{
    color: var(--light-color);
    text-decoration: none;
}